<%-include('includes/head.ejs') %>

<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav
          class="
            navbar navbar-expand navbar-light
            bg-navbar
            topbar
            mb-4
            static-top
          "
        >
          <ul>
            <h3 style="color: white; float: right">Sleep Cycle Tracker</h3>
          </ul>
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a href="/login">
                <h4 style="color: white;">Login</h4
                >
              </a>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <h3 style="color: rgb(100, 0, 167)">
            Track Your Sleeping Habit Using this system
          </h3>
          <hr />
          <div class="row">
            <div
              class="d-sm-flex align-items-center justify-content-between col"
            >
              <div>
                <h3 style="color: blue; margin-left: 200px">
                  Motivational Quotes
                </h3>
                <h5
                  style="color: black; font-family: cursive; margin-left: 100px"
                >
                  "<%= quote.quote %>"
                </h5>
                <h4 style="margin-left: 300px">- <%= quote.author %></h4>
              </div>
            </div>

            <div class="text-center col">
              <img
                src="img/sleep_img.jpg"
                style="max-height: 470px; width: 500px"
              />
              <h4 class="pt-3">Tracker<b>Your Sleep Cycle</b> here!</h4>
            </div>
          </div>
          <div>
            <h3 style="margin-left: 700px">Here are Tips</h3>
            <div style="margin-left: 500px; margin-top: 120px" class="row">
              <div class="card" style="width: 18rem">
                <img
                  class="card-img-top"
                  src="img/sleep_pattern.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 style="font-weight: bold">
                    Problem of Irregural sleep pattern
                  </h4>
                  <p>
                    A new study finds that irregular sleeping patterns,
                    including catch-up sleep, can negatively affect the body's
                    metabolism, which controls how we function and use energy.
                    It also puts us at a higher risk for chronic diseases like
                    diabetes. allowed only five hours of sleep nightly.
                  </p>
                </div>
              </div>

              <div class="card" style="width: 18rem; margin-left: 50px">
                <img
                  class="card-img-top"
                  src="img/sleep_pattern.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 style="font-weight: bold">
                    Problem of Irregural sleep pattern
                  </h4>
                  <p>
                    A new study finds that irregular sleeping patterns,
                    including catch-up sleep, can negatively affect the body's
                    metabolism, which controls how we function and use energy.
                    It also puts us at a higher risk for chronic diseases like
                    diabetes. allowed only five hours of sleep nightly.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal Logout -->
          <div
            class="modal fade"
            id="logoutModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">
                    Ohh No!
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <%-include('includes/footer.ejs') %>
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
